################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
bin
packages
obj
**/Scripts/*/*.js
**/Scripts/*/*.js.map
